.education{
    min-height: 80vh;
    display: flex;
    align-items: center;
}

.frame {
  border-radius: 0;
  padding: 3px;
  background: var(--dark-navey);
  color: #fff;
  position: relative;
  border-bottom: 2px solid var(--light-purple-trans);
  border-left: 2px solid var(--light-purple-trans);
  border-top: 2px solid var(--light-blue-trans);
  border-right: 2px solid var(--light-blue-trans);
}

.educationBlock {
  padding: 1rem;
  background: var(--dark-navey);
  border-radius: 0;
}
.educationLogo{
    width: 150px;
    height: 150px;
    margin-right: 1.5rem;
    display: flex;
    align-items: center;
}

.fadeDivider {
  height: 1px;
  width: 60%;
  margin: 0 0 0 1rem;
  border-radius: 0;
  background: linear-gradient(90deg, var(--light-blue), transparent);
  display: block;
}




/* Responsive Design */
@media (max-width: 1400px) {

}


@media (max-width: 1200px) {
  
}


@media (max-width: 992px) {
  
}


@media (max-width: 768px) {

}


@media (max-width: 576px) {
  
}
