.notFoundWrapper {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Flickering animation */
@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow:
      0 0 4px var(--light-blue),
      0 0 11px var(--light-blue),
      0 0 19px var(--light-blue),
      0 0 40px var(--light-blue),
      0 0 80px var(--light-blue),
      0 0 90px var(--light-blue),
      0 0 100px var(--light-blue),
      0 0 150px var(--light-blue);
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}
