.layout {
  transition: background-image 0.6s ease;
  background-color: var(--dark-navey);
}
.educationBg {
  background-image: url("../../assets/images/Coat_of_Arms_of_the_Open_University_10.png");
  background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}










